@media (max-width:1024px) {.elementor .e-1f106e8 {padding: 10px;margin-block-start: 0px;margin-block-end: 10px;margin-inline-start: 0px;margin-inline-end: 0px;}}
@media (max-width:1024px) {.elementor .e-9ab6919 {margin: 0px;}}
@media (max-width:1024px) {.elementor .e-a8229c1-8011cd5 {margin-block-start: 0px;margin-block-end: -20px;}}
@media (max-width:1024px) {.elementor .e-297bece {margin-block-end: 10px;}}